<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>강모아 | 강의 모아 보기</title>
    <!-- bulma css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        .mainBox{position:relative; width:100%; height:300px; text-align:center;}
        .mainBox::after{content:""; position:absolute; top:0; left:0; z-index:-1; opacity:.8; width:100%; height:300px; background: url('https://static.spartacodingclub.kr/media/main_carousel/xzp9hk1o96nbakca.png') center right / cover;}
        .mainBox h3{padding-top:100px; font-size:40px; font-weight:700; color:#000;}
        .mainBox p{font-weight:700; color:#000;}
        .blind{display:none;}
        .columns{padding:20px 10px;}
        .columns .column{text-align:center;}
        .columns .column img{width:100%; max-width:300px;}
    </style>
    <script>
        $(document).ready(function () {
            mainpage();
        });

        function mainpage() {
            $.ajax({
                type: 'GET',
                url: '/api/posts',
                data: {},
                success: function (response) {
                    let rows = response['posts']
                    for(let i =0; i<rows.length; i++){
                        let title = rows[i]['title']
                        let image = rows[i]['image']
                        let text = rows[i]['text']
                        let star = rows[i]['star']

                        // console.log(title, text)

                        let star_image = '⭐'.repeat(star)

                        let temp_html = `<div class="column">
                                            <img src="${image}" alt=""><br /><br />
                                            <h3 class="title is-5">${star_image}</h3>
                                            <h1 class="title">${title}</h1>
                                            <p class="subtitle is-6">${text}</p>
                                        </div>`

                        $('.columns').append(temp_html)
                    }

                    // console.log(response)
                }
            })
        }
    </script>
</head>
<body>
    <div id="wrap">
        <!-- bulma -->
        <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item" href="#">
              <!--<img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">-->
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>

          <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
              <a class="navbar-item">
                추천 강의 업로드
              </a>

              <!--<a class="navbar-item">
                fhr
              </a>

              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                  More
                </a>

                <div class="navbar-dropdown">
                  <a class="navbar-item">
                    About
                  </a>
                  <a class="navbar-item">
                    Jobs
                  </a>
                  <a class="navbar-item">
                    Contact
                  </a>
                  <hr class="navbar-divider">
                  <a class="navbar-item">
                    Report an issue
                  </a>
                </div>
              </div>-->
            </div>

            <div class="navbar-end">
              <div class="navbar-item">
                <div class="buttons">
                  <!--<a class="button is-primary">
                    <strong>Sign up</strong>
                  </a>-->
                  <a class="button is-light">
                    Log in
                  </a>
                </div>
              </div>
            </div>
          </div>
        </nav>

        <!-- 부트스트랩 -->
        <!--<nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                 &lt;!&ndash;<a class="navbar-brand" href="#">Navbar</a>&ndash;&gt;
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="./membership.html">추천 강의 업로드</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./login.html">로그인</a>
                        </li>
                    </ul>
                    &lt;!&ndash; <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="내용을 입력 하세요" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">검색</button>
                    </form> &ndash;&gt;
                </div>
            </div>
        </nav>-->

        <!-- main -->
        <div class="mainBox">
            <h3>강모아</h3>
            <p>강의를 편하게<br />모아 보자!</p>
        </div>

        <!-- content -->
        <div class="columns">
        </div>
    </div>
</body>
</html>