<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>강모아 : 강의 모아 보기</title>
    <style>
        .mainBox{position:relative; width:100%; height:500px; text-align:center;}
        .mainBox::after{content:""; position:absolute; top:0; left:0; z-index:-1; opacity:.5; width:100%; height:500px; background: url('../images/main.jpg') center / cover;}
        .mainBox h3{padding-top:200px; font-size:40px; font-weight:700;}
        .mainBox p{font-weight:700;}
        .titImg{width:100%; max-width:600px;}
        .blind{display:none;}
    </style>
</head>
<body>
    <div id="wrap">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                 <!--<a class="navbar-brand" href="#">Navbar</a>-->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">추천 강의 업로드</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">로그인</a>
                        </li>
                    </ul>
                    <!-- <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="내용을 입력 하세요" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">검색</button>
                    </form> -->
                </div>
            </div>
        </nav>

        <div class="mainBox">
            <h3>강모아</h3>
            <p>강의를 편하게!<br />모아 보자</p>
        </div>

        <div class="card text-center">
            <div class="card-header">
                제목
            </div>
            <div class="card-body">
                <img src="https://cdn.inflearn.com/public/courses/328003/cover/4be203c6-13dc-4688-a1d5-d552b623230b/328003-eng.png" alt="" class="titImg"><br /><br />
                <h5 class="card-title">⭐</h5>
                <p class="card-text">수강평가 내용</p>
                <p class="card-text blind">태그</p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
            <!-- <div class="card-footer text-muted">
            </div> -->
        </div>

        <div class="card text-center">
            <div class="card-header">
                제목
            </div>
            <div class="card-body">
                <img src="https://cdn.inflearn.com/public/courses/328003/cover/4be203c6-13dc-4688-a1d5-d552b623230b/328003-eng.png" alt="" class="titImg"><br /><br />
                <h5 class="card-title">⭐</h5>
                <p class="card-text">수강평가 내용</p>
            </div>
        </div>


    </div>
</body>
</html>